:root {
    --dark-color: #05070A;
    --light-color: #BBBBBB;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    margin: 0px;
}

.text-section {
    padding: 10px;
    padding-left: 20%;
}

.no-padding {
    padding: 0px;
}

.fullscreen-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 750px;
}

.duo-section > div {
    width: 750px;
}

.trio-section > div {
    width: 500px;
}

.flex-section {
    border-top: #BBBBBB solid 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 10px;
    gap: 10px;
}

#title-4-img-crop {
    overflow: hidden;
}

#title-4 img {
    width: 200%;
    margin-left: -100%;
}

#title-5 img {
    width: 100%;
}

#title-6 img {
    width: 100%;
}

#title-7 img {
    width: 100%;
}

#title-8 img {
    width: 100%;
}

#title-9 img {
    width: 100%;
    image-rendering: pixelated;
}

#title-10 img {
    width: 100%;
    image-rendering: pixelated;
}