:root {
    --dark-color: #05070A;
    --light-color: #BBBBBB;
}

body {
    background-color: var(--dark-color);
    color: var(--light-color);
    margin: 0px;
}

.text-section {
    padding: 10px;
    padding-left: 20%;
}

.no-padding {
    padding: 0px;
}

.fullscreen-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 750px;
}

.flex-section {
    border-top: #BBBBBB solid 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 10px;
    gap: 10px;
}
